CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode
.vs
out
build
*.out
.VSCodeCounter
.dockerignore
docker-compose.debug.yml
docker-compose.yml
Dockerfile
.devcontainer/devcontainer.json
