name: build

on:
  push:
  pull_request:

jobs:

  linux:
    timeout-minutes: 10

    strategy:
      matrix:
        compiler:
          - pkg: g++-10
            exe: g++-10
          - pkg: clang-11
            exe: clang++-11
      
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install compiler
        run: |
          sudo apt-get update
          sudo apt-get install ${{ matrix.compiler.pkg }} -y
      - name: Compile tests
        env:
          CXX: ${{ matrix.compiler.exe }}
        run: |
          mkdir build
          cmake --build build --config Debug -S .
          cd build
          make -j4
      - name: Run tests
        env:
          CTEST_OUTPUT_ON_FAILURE: 1
        run: |
          cd test
          ctest --timeout 30 -C Debug -j4